<%- include('../partials/header') %>

<title><%= title %></title>

<br><br><h2>Tickets</h2>
<br>
<form id="add-dest-form">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>
